 .nome {


    color: rgb(71, 22, 117);
 }
  
.inicio {

color: blue;

}

.tutorial {


    color: rgb(253, 0, 0);
}

.detalhes {


    color: rgb(11, 197, 58);
}

.parcimonia {


    color: rgb(255, 255, 255);
}

.alegria {


    color: rgb(211, 197, 3);
}

.raiva {


    color: rgb(255, 0, 0);
}

.tristeza {

color: rgba(51, 78, 168, 0.836);

}

.batalhas {

color: rgb(255, 217, 0);

}

.conversas {

    color: rgb(248, 70, 100);
    
}

.cabecario{

background-color:blueviolet ;

}

.comecar {

background-color: #2926b8d8;
    
}

.metodos {

background-color: rgb(87, 7, 4);

}

.personagens {

background-color: green;

}

.parcimonia1 {


background-color: rgb(248, 125, 145);

}

.felicidade {

background-color: rgba(245, 245, 146, 0.842);

}

.furia {

background-color: rgb(124, 17, 17);

}

.depressao {

background-color: rgba(15, 15, 163, 0.521);

}

.vazio {

color: black;

}

.abismo {


background-color: rgba(0, 0, 0, 0.548);

}


.batalhas {

background-color: rgba(221, 212, 84, 0.712);

}

.guerra {

background-color:rgb(212, 195, 34) ;

}

.sentimentos {

background-color: rgb(255, 151, 168);

}

body {

color: white;
font-size: 20px;
}

.button {
background-color: blueviolet;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    width: 250px;
    padding: 10px;
    text-decoration: none;
}

.parcimoniaimg {
    transition: transform 0.2s ease-in-out;
}

.parcimoniaimg:hover {
    transform: scale(1.5);
}
.alegriaimg {
    transition: transform 0.2s ease-in-out;
}

.alegriaimg:hover {
    transform: scale(1.5);
}
.raivaimg {
    transition: transform 0.2s ease-in-out;
}

.raivaimg:hover {
    transform: scale(1.5);
}
.tristezaimg {
    transition: transform 0.2s ease-in-out;
}

.tristezaimg:hover {
    transform: scale(1.5);
}

.vazioimg: {
 transition: transform 0.s ease-in-out;
}

.vazioimg {
 transform: scale(1.5);
}
